---
title: Smart City Scholarship
---
<div class="language-select">
  <div class="country">
  <% link_to "/" do %>
    <%= image_tag 'united-kingdom.png' %>
    <% end %>
  </div>
  <div class="country">
    <% link_to "/fr/index.html" do %>
    <%= image_tag 'france.png' %>
    <% end %>
  </div>
  <div class="country">
    <% link_to "/nl/index.html" do %>
    <%= image_tag 'netherlands.png' %>
    <% end %>
  </div>
</div>

<div class="banner_overlay">
  <% link_to "#apply" do %>
  <%= image_tag 'smartcity.png' %>
  <% end %>
</div>
<div class="static-background"></div>

<div class="content-background">
  <div class="content">
    <h1>
      <%= I18n.t(:header) %>
    </h1>
    <h2>
      <%= I18n.t(:sub_header) %>
    </h2>
    <p>
      <%= I18n.t(:paragraph_1) %>
    </p>
    <p>
      <%= I18n.t(:paragraph_2) %>
    </p>
    <p>
     <%= I18n.t(:paragraph_3) %>
   </p>
   <p>
    <%= I18n.t(:paragraph_4) %>
  </p>
  <p>
    <%= I18n.t(:closing_statement) %>
  </p>
  <div class="call-to-action" id="apply">
    <%= link_to "Apply now!", "https://www.lewagon.com/apply/brussels" %>
  </div>
</div>
</div>


<%= partial 'footer' %>